<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
<!-- <%- include %>를 사용해서 외부 ejs(head와 nav)를 가져왔습니다. -->
    <div class="container contact contact-index">
      <h2>Index</h2>
      <ul class="list-group">
        <% contacts.forEach(function(contact) { %>
          <!-- contacts object에 forEach를 사용해서 코드를 반복해서 표시 -->
          <li class="list-group-item">
            <!-- index, new, create
            <%= contact.name %>
            -->
            <a href="/contacts/<%= contact._id %>"><%= contact.name %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
<!-- 21-06-19 bootstrap
기존 코드에서 container, list-group, list-group-item class 등의
bootstrap class가 추가
-->
